---
import "../styles/global.css";
import Navbar from "./Navbar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Crafting tools 💻 that make the Tamil language 📜 as sweet and accessible as nectar 🍯 in the digital landscape 💫"
    />
    <meta
      name="og:image"
      content="https://avatars.githubusercontent.com/u/282801849"
    />
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#ff6900" />
    <title>தமிழ் | Digital Tamil</title>
  </head>
  <body>
    <Navbar client:load />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    @apply scroll-smooth antialiased;
  }
</style>
